<template>
    <div class="modal-content h-100">
                    <div class="dropdown-header bg-trans-gradient d-flex align-items-center w-100">
                        <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                            <span class="mr-2">
                                <span class="rounded-circle profile-image d-block" style="background-image:url('img/demo/avatars/avatar-d.png'); background-size: cover;"></span>
                            </span>
                            <div class="info-card-text">
                                <a href="javascript:void(0);" class="fs-lg text-truncate text-truncate-lg text-white" data-toggle="dropdown" aria-expanded="false">
                                    {{ contacte ? contacte.nombre : "selecciona" }}
                                    <i class="fal fa-angle-down d-inline-block ml-1 text-white fs-md"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Envia Email</a>
                                    <a class="dropdown-item" href="#">Block User</a>
                                </div>
                                <span class="text-truncate text-truncate-md opacity-80">{{ contacte ? contacte.puesto
                                 : "" }}</span>
                            </div>
                        </div>
                        <button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>       
        <div class="modal-body p-0 h-100 d-flex">
            <ContactsList :contacts="contacts" @selected="startConversationWith" /> 
            <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage"/> 
                       
        </div>             
    	
    </div>
</template>

<script>
    import Conversation from './Conversation';
    import ContactsList from './ContactsList';

    export default {
        props: {
             contacte: {
                type: Object,
                default: null
             },
            user: {
                type:Object,
                required: true
            }
        },
        data() {
            return {
                selectedContact: null,
                messages: [],
                contacts: []
            };
        },
        mounted(){

            Echo.private(`messages.${this.user.id}`)
                .listen('NewMessage',(e) => {
                    //console.log('Venga perroooooo!!!!');
                    this.hanleIncoming(e.message);
                })  

                axios.get('./contacts')
                 .then((response) => {
                    console.log(response.data);
                    this.contacts = response.data;
                 });
        },
        methods: {
            startConversationWith(contact){
                this.updateUnreadCount(contact,1)
                    axios.get(`./conversation/${contact.id}`)
                     .then((response) =>{
                            this.messages = response.data;
                            this.selectedContact = contact;
                            this.contacte = contact;
                        }); 
            },
            saveNewMessage(message){
                this.messages.push(message);
            },
            hanleIncoming(message){
                if(this.selectedContact && message.from == this.selectedContact.id){
                    this.saveNewMessage(message)
                    return
                }
                this.updateUnreadCount(message.from_contact,0)
                //alert(message.text)
            },
            updateUnreadCount(contact,reset){
                console.log(this.contacts);
                this.contacts = this.contacts.map((single) => {
                    if (single.id !== contact.id) {
                        return single;
                    }
                    if (reset)
                        single.unread = 0;
                    else
                        single.unread += 1;
                    return single;
                })
            }
        },
        components: {Conversation, ContactsList}
    }
</script>

