<template>
	<div class="msgr-list d-flex flex-column bg-faded border-faded border-top-0 border-right-0 border-bottom-0 position-absolute pos-top pos-bottom">
        <div>
            <div class="height-4 width-3 h3 m-0 d-flex justify-content-center flex-column color-primary-500 pl-3 mt-2">
                <i class="fal fa-search"></i>
            </div>
            <input type="text" class="form-control bg-white" id="msgr_listfilter_input" placeholder="Busca..." aria-label="FriendSearch" data-listfilter="#js-msgr-listfilter">
        </div>
        <div class="flex-1 h-100 custom-scroll">
        	<div class="w-100">
        		<ul id="js-msgr-listfilter" class="list-unstyled m-0">
                    <li v-for="contact in sortedContacts" :key="contact.id" @click="selectContact(contact)" :class="{ 'selected': contact == selected }">
                        <a href="#" class="d-table w-100 px-2 py-2 text-dark hover-white" data-filter-tags="tracey chang online">
                            <div class="d-table-cell align-middle status status-success status-sm ">
                               <!-- <span class="profile-image-md rounded-circle d-block" v-if="contact.unread"> {{ contact.unread }}</span>-->
                                <a href="javascript:void(0);" class="btn btn-sm btn-default btn-icon rounded-circle position-relative js-waves-off">
                                                    <i class="fas fa-dot-circle"></i>
                                                    <span class="badge border border-light rounded-pill bg-info-500 position-absolute pos-top pos-right" v-if="contact.unread">{{ contact.unread }}</span>
                                                </a>
                               <!--<span class="unread" v-if="contact.unread">{{ contact.unread }}</span>-->
                            </div>
                            <div class="d-table-cell w-100 align-middle pl-2 pr-2">
                                <div class="text-truncate text-truncate-md">
                                      {{ contact.nombre }}
                                    <!--<span class="unread" v-if="contact.unread">{{ contact.unread }}</span>-->
                                     
                                    <!--<small class="d-block font-italic text-success fs-xs">
                                        Online
                                    </small>-->
                                </div>
                            </div>
                        </a>
                    </li>
        		</ul>
        		
        	</div>
        </div>
	
	</div>


</template>

<script>
	export default {
		props: {
			contacts: {
				type: Array,
				default: []
			}
		},
		data(){
			return {
				selected: this.contacts.length ? this.contacts[0] : null
			}
		},
		methods: {
            selectContact(contact) {
                this.selected = contact;
                this.$emit('selected', contact);
            }
		},
		computed: {
            sortedContacts() {
                console.log(this.contacts)
                return _.sortBy(this.contacts, [(contact) => {
                    if (contact == this.selected) {
                        return Infinity;
                    }
                    return contact.unread;
                }]).reverse();
            }
        }
	}

</script>
<style lang="scss" scoped>
	        span.unread {
                background: #82e0a8;
                color: #fff;
                position: absolute;
                right: 11px;
                top: 20px;
                display: flex;
                font-weight: 700;
                min-width: 20px;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                font-size: 12px;
                padding: 0 4px;
                border-radius: 10px;
            }
</style>