<template>

	                            <!-- BEGIN msgr__chatinput -->
                            <div class="d-flex flex-column">
                                <div class="border-faded border-right-0 border-bottom-0 border-left-0 flex-1 mr-3 ml-3 position-relative shadow-top">
                                    <div class="pt-3 pb-1 pr-0 pl-0 rounded-0" tabindex="-1">
                                        <textarea v-model="message" @keydown.enter="send" id="msgr_input" contenteditable="true" data-placeholder="Type your message here..." class="height-10 form-content-editable form-control"></textarea>
                                    </div>
                                </div>
                                <div class="height-8 px-3 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                                    <a href="javascript:void(0);" class="btn btn-icon fs-xl width-1 mr-1" data-toggle="tooltip" data-original-title="More options" data-placement="top">
                                        <i class="fal fa-ellipsis-v-alt color-fusion-300"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Attach files" data-placement="top">
                                        <i class="fal fa-paperclip color-fusion-300"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">
                                        <i class="fal fa-camera color-fusion-300"></i>
                                    </a>
                                    <div class="ml-auto">
                                        <a href="javascript:void(0);" class="btn btn-info"  @click="send">Enviar</a>
                                    </div>
                                </div>
                            </div>

                            <!-- END msgr__chatinput -->
</template>
<script>
	export default {
		data() {
			return {
				message: ''
			}
		},
		methods: {
			send(e) {
				e.preventDefault();
				
				if(this.message == ''){
					return;
				}
				this.$emit('send', this.message);
				this.message = '';
			}
		} 
	}	
</script>