<template>
                            <div class="custom-scroll flex-1 h-100" style="overflow:auto !important;" ref="feed">
                                <div v-if="contact" id="chat_container" class="w-100 p-4">
                                    <!-- start .chat-segment -->
                                    <div class="chat-segment">
                                        <div class="time-stamp text-center mb-2 fw-400">
                                            Jun 19
                                        </div>
                                    </div>
                                    <!--  end .chat-segment -->
                                    <!-- start .chat-segment -->
                                    <div v-for="message in messages" :class="`chat-segment${message.to == contact.id ? ' chat-segment-sent' : ' chat-segment-get'}`" :key="message.id">
                                        <div class="chat-message">
                                            <p>
                                                {{ message.text }}
                                            </p>
                                        </div>
                                       <!-- <div class="text-right fw-300 text-muted mt-1 fs-xs">
                                            3:00 pm
                                        </div>-->
                                    </div>
                                    <!--  end .chat-segment -->
                                    <!-- start .chat-segment -->

                                  
                                    <!--  end .chat-segment for timestamp -->
                                </div>
                            </div>
</template>



<script>
	export default {
		props: {
			contact: {
				type: Object,
			},
			messages:{
				type: Array,
				required: true
			}
		},
		methods: {
			scrollToBottom(){
				setTimeout(() =>{
					this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
				},50); 
				
			}
		},
		watch: {
			contact(contact){
				this.scrollToBottom();
			},
			messages(message){
				this.scrollToBottom();
			}
		}
	}
</script>